.country_driving_licence {
    .flex_align_center {
        img {
            margin-top: -6px;
        }
    }

    .flex_row {
        display: flex;
        flex-wrap: wrap;

        .flex_cols {
            flex: 1;
            // min-width: 200px;
            padding: 0 10px;


            .country_wrap {
                display: flex;
                border-bottom: 1px solid rgba($color: $border_color, $alpha: 0.5);
                padding: 10px 0;

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    margin-right: 10px;
                }

                p {
                    margin-bottom: 0;
                }
            }

        }
    }
}